<h2>Task: <%=  @task.task_name %> </h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@task)  do |f| %>
      <ul>
        <li>
          <%= f.label :task_name, "Task Name" %>
          <%= f.text_field :task_name %>
        </li>

        <li>
          <%= f.label :description %>
          <%= f.text_area :description %>
        </li>
        <li>
          <%= fields_for :users_assigned do |users_assigned_form| %>
            <%= users_assigned_form.label :user_id, "User Assigned to this Task" %><br>
            <% @task.users_assigned.each do |u| %>
              <li>
                <%= users_assigned_form.collection_select( :user_id, @users, :id, :name, {:selected => u.id}) %>
              </li>
            <% end %>

          <% end %>
        </li>
        <li>
          <%= f.label :category_id, "Task Category" %><br>
          <%= f.collection_select :category_id, @task_categories, :id, :category, include_blank: true %>
        </li>
        <li>
          <%= f.label :start_dt, "Start Date (optional)" %>
          <%= select_date(start_dt = @task.start_date, prefix: start_dt, include_blank: true)  %>
        </li>
        <li>
          <%= f.label :due_dt, "Due Date" %>
          <%=  select_date(due_dt = @task.due_date, prefix: due_dt, include_blank: true)  %>
        </li>

        <%= f.submit "Create a new Task", class: "btn btn-large btn-primary" %>
    <% end %>


    </ul>

  </div>
</div>
