<h2>Task: <%=  @task.task_name %> </h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@task)  do |f| %>

        <%= f.label :task_name, "Task Name" %>
        <%= f.text_field :task_name %>

        <%= f.label :description %>
        <%= f.text_area :description %>




        <%= f.label :start_date, "Start Date (optional)" %>
        <%= select_datetime nil, :prefix => :start_dt, :include_blank => true %>
        <%= f.label :due_dt, "Due Date" %>
        <%= select_datetime nil, :prefix => :due_dt, :include_blank => true %>

        <%= f.submit "Create a new Task", class: "btn btn-large btn-primary" %>
        <% end %>
   </div>
 </div>
