<ul class="nav nav-tabs pull-right">
  <li role="presentation" >
    <%= link_to "Tasks Assigned",  tasks_path(filter:"assigned") %>
  </li>
  <li role="presentation" >
    <%= link_to "Tasks Authored",  tasks_path(filter:"authored")%>
  </li>
</ul>
</br>


<h2><%= t("filter_titles.#{params[:filter]}") %></h2>


Number of tasks: <%= @tasks.count %>
</br></br>


Task assigned
<%= render partial: 'shared/tasks_table', :locals => { :tasks => @tasks}%>