<h2><%= t("filter_titles.#{params[:filter]}") %></h2>
(Number of tasks: <%= @tasks.count %>)

<ul>
  <li> <%= link_to "Tasks Assigned",  tasks_path(filter:"assigned") %> </li>
  <li> <%= link_to "Tasks Authored",  tasks_path(filter:"authored") %> </li>
</ul>



<div class="tasks">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Task ID</th>
      <th scope="col">Title</th>
      <th scope="col">Due Date</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @tasks.each do |t| %>
        <tr>
          <th scope="row"> <%=   t.id %> </th>
          <td> <%=   t.task_name %> </td>
          <td> <%=   t.due_date %> </td>
          <td>
            <%= link_to  task_path(t) do %>
                <span class="glyphicon glyphicon-eye-open" alt="show"></span>
            <% end %>
          </td>
          <td>
            <% if t.author == current_user %>
                <%= link_to  edit_task_path(t) do %>
                    <span class="glyphicon glyphicon-edit" alt="edit"></span>
                <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>




