<h2>Tasks Assigned</h2>

(Number of assignations: <%= @tasks_assigned.count
%>)

<ul class="tasks">
  <% @tasks_assigned.each do |t| %>
      <li>
        <%=   t.id %>
        <%=   t.task_name %>
      </li>
  <% end %>
</ul>


<% if current_user.admin? %>
    <h2>Manage All Tasks</h2>
    (<%= t("filter_titles.#{params[:filter]}") %>: <%= @tasks_all.count
%>)
<ul class="tasks">
  <% @tasks_all.each do |t| %>
      <li>
        <%=   t.id %>
        <%=   t.task_name %>
      </li>
  <% end %>
</ul>

<% end %>