<div class="">
<h2>New Task</h2>

<%= form_for(Task.new, :url => { :action => "create" })  do |f| %>
    <div class="form-group">
      <%= f.label :task_name, "Task Name (*)" %>
      <%= f.text_field :task_name, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class:"form-control", cols: "30", rows: "7" %>
    </div>
    <div class="form-group">
      <%= fields_for :users_assigned do |users_assigned_form| %>
          <%= users_assigned_form.label :user_id, "User Assigned to this Task" %><br>
          <%= users_assigned_form.select :user_id, @users.collect {|x| [x.name, x.id]}, {include_blank: true}, :multiple => true, class:"form-control" %>

      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :category_id, "Task Category" %><br>
      <%= f.collection_select :category_id, TaskCategory.all, :id, :category, {include_blank: true}, {class: "form-control"} %>
    </div>
    <div class="form-group">
      <%= f.label :start_dt, "Start Date (optional)" %>
      <%= select_date nil, :prefix => :start_dt, :include_blank => true, class:"form-control", start_year: Time.now.year  %>
    </div>

    <div class="form-group">
      <%= f.label :due_dt, "Due Date (*)" %>
      <%= select_date nil, :prefix => :due_dt, :include_blank => true, class:"form-control", start_year: Time.now.year %>
    </div>
<%= f.submit "Save", class: "btn btn-primary" %>
<% end %>

</div>

