<ul class="tasks">
  Number of Tasks: <%= @tasks.count %>

  <% @tasks.each do |t| %>
    <li>
      <%=   t.id %>
      <%=   t.task_name %>
        Due Date: <%=   t.due_date %>
      <%= link_to "show",  task_path(t) %>
    </li>
  <% end %>
</ul>