<div class="panel panel-info ">
  <div class="panel-heading text-center">
        <h4> Search Tasks </h4>
  </div>
  <div class="panel-body">
    <%= form_for(Task.new, :url => admin_tasks_search_path, remote: true)  do |f| %>

      <div class="field">
        <%= f.label :category_id, "Task Category" %><br>
        <%= f.collection_select :category_id, TaskCategory.all, :id, :category, {include_blank: true}, {class: "form-control"} %>
      </div>

      <div class="field">
        <%= f.label :status_id, "Status" %>
        <%= f.collection_select :status_id, TaskStatus.all, :id, :status, {include_blank: true}, {class: "form-control"} %>
      </div>
      <div class="field">
        <%= f.label :author_id, "Author" %><br>
        <%= f.select :author_id, options_for_select(User.all.map{|u| [u.name, u.id]}), {include_blank: true}, {class: "form-control"} %>
      </div>
      <div class="field">
        <%= label_tag :user_assigned_id, "User Assigned" %><br>
        <%= select_tag :user_assigned_id, options_for_select(User.all.map{|u| [u.name, u.id]}), include_blank: true, class: "form-control" %>
      </div>
      </br>
      <div class="actions text-right">
        <%= f.submit "Search", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>

</div>
