<ul class="tasks">
  Number of Tasks: <%= @tasks.count %>

  <%= link_to "Sort by Recent Task",  admin_tasks_path(sort_param: "created_date") %>
  <%= link_to "Sort by Due Date",  admin_tasks_path(sort_param: "due_date") %>

  <% @tasks.each do |t| %>
    <li>
      <%=   t.id %>
      <%=   t.task_name %>
        Due Date: <%=   t.due_date %>
      <%= link_to  task_path(t) do %>
          <span class="glyphicon glyphicon-eye-open" alt="view"></span>
      <% end %>
    </li>
  <% end %>
</ul>