<%= form_for(Task.new, :url => admin_tasks_search_path, remote: true)  do |f| %>
  <ul>
    <li>
      <%= f.label :category_id, "Task Category" %><br>
      <%= f.collection_select :category_id, TaskCategory.all, :id, :category, include_blank: true %>
    </li>

    <li>
      <%= f.label :status_id, "Status" %>
      <%= f.collection_select :status_id, TaskStatus.all, :id, :status, include_blank: true %>
    </li>
    <li>
      <%= f.label :author_id, "Author" %><br>
      <%= f.select :author_id, options_for_select(User.all.map{|u| [u.name, u.id]}), include_blank: true %>
    </li>
    <li>
      <%= label_tag :user_assigned_id, "User Assigned" %><br>
      <%= select_tag :user_assigned_id, options_for_select(User.all.map{|u| [u.name, u.id]}), include_blank: true %>
    </li>
  </ul>

    <%= f.submit "Search", class: "btn btn-large btn-primary" %>
<% end %>


