<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          <span class="glyphicon glyphicon-bell"></span> New Notifications (<%=current_user.notifications.unread.count %>)
        </h4>
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
      </div>

      <!-- Modal body -->
      <div class="modal-body">




          <% if current_user.notifications.unread.any? %>
              <% current_user.notifications.unread.each do |notification| %>
                <div class="list-group">
                <%= link_to edit_notification_path(notification), class:"list-group-item list-group-item-action flex-column align-items-start active" do %>
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">  <%= notification.description %>   </h5>
                  <small>  <%= time_ago_in_words(notification.created_at) %> ago   </small>
                </div>
                <p class="mb-1"></p>
                <small></small>
                <% end %>
                </div>
              <% end %>


          <% end %>




      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
        <%= submit_tag 'Close', :type => :reset, :class => "btn btn-dark", "data-dismiss" => "modal", "aria-hidden" => "true" %>
      </div>

    </div>
  </div>
</div>