<h2>Notifications</h2>
<% if current_user.notifications.any? %>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <% @notifications.each do |n| %>
      <tr>
        <td>
          <a href="<%= edit_notification_path(n) %>" class="list-group-item list-group-item-action <%= 'active' unless n.read %>">
            <span class="content"><%= n.description %></span>
            <span class="timestamp">
            <%= time_ago_in_words(n.created_at) %> ago.
            </span>
          </a>
        </td>
        <td>
          <%= link_to n, method: :delete, data: { confirm: "Are you sure?" } do %>
            <span class="glyphicon glyphicon-remove" alt="delete"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
