<aside class="span4">
  <section>
    <h1>
      My Account
      <%= link_to  edit_user_path(current_user) do %>
          <span class="glyphicon glyphicon-edit" alt="edit"></span>
      <% end %>
    </h1>
  </section>
  <section>

    Name : <%= @user.name %>
    Email : <%= @user.email %>
    Last account update : <%= @user.updated_at %>

    <ul class="user-roles">
      <% @user.roles.each do |ur| %>
          <li>
            <%=   ur.role_name %>
          </li>

      <% end %>
    </ul>

  </section>

</aside>
