<div class="">
  <div class="">
    <h2>Edit Category</h2>
    <div class="text-right">
      <%= link_to [:admin, @task_category], method: :delete, data: { confirm: "You sure?" } do %>
      <button type="button" class="btn btn-danger">
        Delete <span class="glyphicon glyphicon-trash" alt="delete"></span>
      </button>
      <% end %>
    </div>
    <%= form_for [:admin, @task_category] do |f| %>
        <div class="form-group">
          <%= f.label :category, "Task Category" %>
          <%= f.text_field :category, placeholder: @task_category.category, class:"form-control" %>
        </div>

        <%= f.submit "Save", class: "btn btn-primary" %>

    <% end %>

   </br></br>



  </div>
</div>