<h2>Edit Task Category</h2>

<div class="row">
  <div class="span6 offset3">
    <%= form_for [:admin, @task_category] do |f| %>

        <%= f.label :category, "Task Category" %>
        <%= f.text_field :category, placeholder: @task_category.category %>


        <%= f.submit "Save", class: "btn btn-large btn-primary" %>
    <% end %>

     <%= link_to "delete", [:admin, @task_category], method: :delete,
            data: { confirm: "You sure?" } %>
  </div>
</div>