<h2>Edit User [as an admin]</h2>

<%= form_for(@user, url: admin_user_path(@user), html: { method: :put }) do |f| %>


  <div class="field">
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>



  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

<div class="field">
  <%= f.label :user_roles, "User Roles" %><br>
  <%= select_tag :user_roles,
                 options_for_select(Role.all.collect {|x| [x.role_name, x.id]}, selected: Role.regular_role.id), multiple: true
  %>

</div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h4>Cancel account</h4>

<p> <%= button_to "Cancel account", admin_user_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>