<h2>List of Users</h2>
Number of users: <%= @users.count%>
<br></br>


<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">ID (#)</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |u| %>
      <tr>
        <th scope="row"> <%=   u.id %> </th>
        <td> <%=   u.name %> </td>
        <td> <%=   u.email %> </td>
        <td>
          <% unless u.active %>
            <span class="label label-default">Inactive</span>
          <% end %>
        </td>
        <td>
          <%= link_to  admin_user_path(u) do %>
              <span class="glyphicon glyphicon-eye-open" alt="show"></span>
          <% end %>
        </td>
        <td>
          <%= link_to  edit_admin_user_path(u) do %>
              <span class="glyphicon glyphicon-edit" alt="edit"></span>
          <% end %>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>