<h2>Add User</h2>

<%= form_for(User.new, :url => { :action => "create" }) do |f| %>


    <div class="form-group">
    <%= f.label :name %> <br />
      <%= f.text_field :name, class: "form-control" %>
    </div>

  <div class="form-grouop">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
      <%= f.label :user_roles, "User Roles" %><br>
      <%= select_tag :user_roles,
                     options_for_select(Role.all.collect {|x| [x.role_name, x.id]},  selected: @user_roles_ids), multiple: true, include_blank: true

      %>

  </div>


  <div class="actions">
    <%= f.submit "Save", class:"btn btn-primary" %>
  </div>
<% end %>


