<div class="">
  <section>

    <h2>
      <%= @user.name %>

      <%= link_to  edit_admin_user_path(@user), class:"pull-right" do %>
        <span class="glyphicon glyphicon-edit" alt="edit"></span>
      <% end %>

      <% if @user.active %>

      <% else %>
        <small><span class="label label-default">Inactive</span></small>
      <% end %>

      </br>
      <small>User #<%= @user.id %></small>
    </h2>


  </section>

</div>

</br></br>

  <section>

    <table class="table table-sm">
      <thead>
      <tr>
        <th>
          <% @user.roles.each do |ur| %>
              <%=   ur.role_name %> &nbsp
          <% end %>
        </th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>  Email address :</td>
        <td> <%= @user.email %> </td>
        <td></td>
      </tr>
      <tr>
        <td>  Last signed in :</td>
        <td> <%= @user.last_sign_in_at %> </td>
        <td></td>
      </tr>
      <tr>
        <td>User created :</td>
        <td><%= @user.created_at %></td>
        <td></td>
      </tr>
      <tr>
        <td>Last account update : </td>
        <td><%= @user.updated_at %> </td>
        <td></td>
      </tr>
      </tbody>
    </table>

  </section>
</br></br>

<h4>Tasks Assigned</h4>
<%= render partial: 'shared/tasks_table', :locals => { :tasks => @user.tasks_assigned }%>

<h4>Tasks Authored</h4>
<%= render partial: 'shared/tasks_table', :locals => { :tasks => @user.tasks_as_author }%>

</div>
