<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<header>
  <nav class="navbar navbar-inverse">
    <p class="nav navbar-brand">Tasks App</p>
    <ul class="nav navbar-nav">

      <li><%= link_to "Home", root_path %></li>

      <% if signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> My Tasks
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Tasks assignations", tasks_path(filter:"assigned")   %></li>
            <li><%= link_to "Tasks authored", tasks_path(filter:"authored")  %></li>
          </ul>
        </li>
        <li> <%= link_to "+ New Task",  new_task_path %> </li>
      <% end %>

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <li><a href="#" alt="Notifications"> <span class="glyphicon glyphicon-bell"></span> <%= current_user.notifications.count %> </a> </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"></span> <%= current_user.name %>
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "My Account", current_user  %></li>
            <li><%= link_to "Log out", destroy_user_session_path %></li>
          </ul>
        </li>
      <% else %>
        <li><a href="<%=new_session_path(:user)%>" alt="Log in"> <span class="glyphicon glyphicon-log-in"></span> Log in </a> </li>
      <% end %>
    </ul>

  </nav>
</header>



