<header>
  <nav class="navbar navbar-inverse container">
    <!-- Home-->
    <p class="nav navbar-brand"><%= link_to "Tasks App", root_path %></p>
    <ul class="nav navbar-nav">

      <!-- User Tasks -->
      <% if signed_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> My Tasks
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Tasks assignations", tasks_path(filter:"assigned")   %></li>
            <li><%= link_to "Tasks authored", tasks_path(filter:"authored")  %></li>
          </ul>
        </li>
        <!-- New Task -->
        <li>
          <%= link_to new_task_path do %>
              <span class="glyphicon glyphicon-plus"></span> New Task
          <% end %>
        </li>
      <% end %>

    </ul>


    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <!-- Notifications-->
        <li>
          <!-- Has unread notifications, show modal-->
          <% if current_user.notifications.unread.count > 0 %>
              <a data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-bell"></span>

                  <span class="badge">
                    <%= current_user.notifications.unread.count %>
                  </span>
              </a>
          <% else %>
          <!-- No unread notifications, go to notifications index -->
            <%= link_to notifications_path do %>
              <span class="glyphicon glyphicon-bell"></span> Notifications
            <% end %>
          <% end %>
        </li>

        <!-- Account -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="glyphicon glyphicon-user"></span> <%= current_user.name %>
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "My Account", current_user  %></li>
            <li><%= link_to "Log out", destroy_user_session_path %></li>
          </ul>
        </li>
      <% else %>
        <li><a href="<%=new_session_path(:user)%>" alt="Log in"> <span class="glyphicon glyphicon-log-in"></span> Log in </a> </li>
      <% end %>
    </ul>

  </nav>
</header>


<% if signed_in? %>
<%= render partial: 'notifications/unread_notifications' %>
<% end %>
