<aside>
  <ul class="list-group">
    <li class="list-group-item" style="background-color: #EEE;"><span class="glyphicon glyphicon-wrench"></span> ADMIN</li>
    <li class="list-group-item">
      <%= link_to admin_users_path do %>
         Users List
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to new_admin_user_path do %>
         Add User
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to admin_tasks_path do %>
         Manage Tasks
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to admin_task_categories_path do %>
         Task Categories
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to new_admin_task_category_path do %>
        Create Category
      <% end %>
    </li>
  </ul>
</aside>
